@import "tailwindcss";
@layer components {
  .input-food {
    @apply w-full px-5 py-3 rounded-xl bg-transparent border border-white/10
           placeholder-gray-500 text-white outline-none
           focus:border-orange-400 focus:ring-2 focus:ring-orange-400/30 transition;
  }
}
